body{
    height: 100%;
    width: 100%;
    margin: 0px 400px;
    margin-right: 500px;
    
}
main{
    width: 70%;
    height: 100%;
    align-items: center;
    background-color: rgb(173, 168, 168);
}

  nav{
    height: 120px;
    width: 100%;
    background-color: grey;
    
    }
  .navright{
    float: right;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 55px;
    
  }
 
  .navright li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
  }
  .navright a{
    text-decoration: none;
    color: #2e9cca;
    border: solid transparent;
    border-radius: 40px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
 
.Home{
    margin-top: 30px;
}
.Home img{
    width: 400px;
    height: 400px;
    margin-left: 30px;
}
.About img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
}
.text{
    text-align: center;
}
.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
.portfolio img{
    width: 32%;
    height: 450px;
    padding: 20px;
}
#screenshot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
#screenshot img{
    width: 32%;
    height: 450px;
    padding: 40px;
}
.image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
.image img{
    width: 60%;
    height: 400px;
    padding: 40px;
    margin-right: 50px;
}


.contact {
    width: 50vh;
    height: 600px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.contact h2 {
    text-align: center;
    font-size: xx-large;
}
.frm{
    padding: 10px;
    border-radius: 20px;
}
.frm #message{
    height: 100px;
}

.contact button {
    
    width: 250px;
    align-items: center;
    margin-top: 40px;
    margin-left: 90px;
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 25px;
}

 .icons{
     display: flex;
     flex-direction: row;
     margin: 20px;
 }
 .icons a{
     padding: 20px;
     padding-right: 20px;

 }
 .icon{
     margin: 20px;

 }
 footer{
     background-color: grey;
     align-items: center;
     justify-content: center;
 }